@import url('https://fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&family=Bebas+Neue&display=swap');

.menu-principal {
    background-color:#111823;
    padding: 10px 0; 
    text-align: center;
    font-family: Bebas Neue;
    display: flex;
    justify-content: center;
}

.menu-principal ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.menu-principal li {
    display: inline-block; 
    margin: 0 15px; 
}

.menu-principal a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

.menu-principal a:hover {
    background-color: #1D546D;
    color: #f0f0f0;
}

p {
    font-family: Amarna;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: Bebas Neue;
    color: #C9B59C;
}