body {
    font-family: Amarna;
    color: #EBD5AB;
    font-weight: 600;
    background-color: #53212b;
    margin: 0;
    padding: 0;
}

.irmasbabadeiras {
    display: flex;
    justify-content: space-around;
}

.quadrado {
    text-align: justify;
    width: 350px;
    background-color: #722323;
    padding: 40px;
}

h1, h2, h3 {
    font-family: Bebas Neue;
    color: #C9B59C;
}

.text {
    text-align: justify;
    width: 700px;
}

.logo {
    width: 30px;
    height: 25px;
}

.botao {
    background-color: #D02752; 
    text-align: center;
    border-radius: 10px;
    font-family: Bebas Neue;
    width: 100px;
    height: 60px;
    align-content: center;
    text-decoration: none;
}

.botao:hover {
    background-color: #100720; 
    color: #f0f0f0;
}

.vpheonix {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
    scale: 0.8;
}

.caixavd {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}  
