body {
    margin: 0;
}

.tela {
    background-color: #000;
    background-image: url(isofundo.jpeg);
    background-size: cover;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.ficha-container {
    background-color: #ede7e76e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    padding: 30px;
    text-align: center;
    margin: 20px;
}

.personagem-foto {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    border: 3px solid #ac1117;
    object-fit: cover;
    margin-bottom: 15px;
}

.personagem-nome {
    color:#24201d;
    font-size: 2.5em;
    margin: 10px 0 5px;
}

.personagem-titulo {
    color: #3d4158;
    font-size: 1.2em;
    margin: 0;
}

.ficha-bio p {
    text-align: justify;
    line-height: 1.6;
    color: #24201d;
}

.ficha-habilidades h3 {
    margin-top: 20px;
    color: #3d4158;
    border-bottom: 2px solid #ac1117;
    padding-bottom: 5px;
}

.ficha-habilidades ul {
    list-style: none;
    padding: 0;
}

.ficha-habilidades li {
    background-color: #b181ff;
    border: 1px solid #ac1117;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 5px;
}

.habilidades:hover {
    background-color: #7e797d;
    color: #660066;
}

.ficha-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.espaco {
    display: inline-grid;
    gap: 30px;
}

.lista-habilidades {
  list-style: none;
  padding: 0;
}

.habilidades {
  overflow: hidden;
  cursor: pointer;
  transition: height 1ms ease;
  text-align: left;
}

.habilidades p {
  margin: 8px 0 0;
  text-align: justify;
}

h1, h2, h3, li {
    font-family: Bebas Neue;
    color: 	#ede7e7;
}