body{
    margin: 0;
}

.tela {
    font-family: 'Roboto', sans-serif;
    background-image: url(back.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.card-login {
    background-color: #5C6F2B;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    max-width: 350px;
    margin-top: 100px;
}

.card-login h1 {
    color: #E5D9B6;
    font-size: 2em;
    margin-bottom: 10px;
    font-family: Bebas Neue;
}

.card-login p {
    color: #D8C9A7;
    margin-bottom: 30px;
}

.botao-acao {
    display: block; 
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#botao-login-principal {
    background-color: #E67E22; 
    color: #fff;
    font-weight: bold;
    margin-top: 20px; 
}

#botao-login-principal:hover {
    background-color: #CC561E;
}

.botao-secundario {
    background-color: #D8C9A7; 
    color: #333;
}

.botao-secundario:hover {
    background-color: #EEEEEE;
}