body {
	font-family: "Open Sans", sans-serif;
	background-color: #574964; 
	margin: 0;
	padding: 0px;
	text-align: center;
}

.galeria h1 {
	color: #F2AEBB; 
	margin-bottom: 40px;
}

.foto-item {
	border: 1px solid #F29AAE; 
	border-radius: 5px;
	display: inline-block; 
	margin: 15px; 
	padding: 15px; 
	box-shadow: 0 2px 4px #896C6C;
	width: 250px;
	vertical-align: top; 
}

.foto-item img {
	width: 100%; 
	height: auto;
	border-radius: 5px;
	margin-bottom: 10px;
}

.foto-item p {
	color: #ffb6e7;
	font-size: 20px;
	margin-bottom: 15px;
}

.foto-item a {
	color: #EEE6CA; 
	text-decoration: none; 
	font-weight: bold;
}

.filtro{
	width: 50px;
	height: 50px;
	margin-left: 50px;
}

.funil {
	margin-top: 5px;
}

.galeria a{
	font-family: Amarna;
}

.intro {
	display: flex;
	justify-content: center;
}

.introdois {
	display: flex;
	justify-content: center;
}

.box {
	width: 400px;
	margin: 20px;
	background-color: #4e415aad;
	border-radius: 15px;
	padding: 15px;
}

.box p {
	text-align: justify;
	font-size: 20px;
}

h2 {
	font-size: 25px;
}